
{% extends 'base.html' %}
{% load static %}

{% block title  %}
category
{% endblock title  %}

{% block body  %}
                        
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Grid 3 Columns</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">

                            <div class="products mb-3">
                                <div class="row justify-content-center" style="margin-left:20%;margin-right:-20%;">
                                   
                                    
                                        {% if messages %}
                                        {% for message in messages %}
                                            <div class="container-fluid p-0">
                                                <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="background-color:black;color:white;width:30%;height:50px;margin-left:auto;margin-right:auto;margin-bottom:10%">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="True">&times;</span>
                                                    </button>
                                                        {{ message }}
                                                </div>
                                            </div>
                                        {% endfor %}
									    {% endif %}
                                 
                                    
                                    {% for x in all_prod %}

                                     <div class="col-6 col-md-4 col-lg-4">
                                        

                                        <div class="product product-7 text-center">
                                            <figure class="product-media"  style="height:360px;width:Fullwidth;background-color:white">
                                                
                                                <a href="product">
                                                    <img src="{{x.image.url}}" alt="Product image" class="product-image"  style="height:360px;width:Fullwidth">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    {% comment %} <a href="{% url 'product' x.id %}" class="btn-product-icon btn-quickview">Quick view</s</a> {% endcomment %}
                                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                    <a href="{% url 'Add_to_cart' x.id %}" class="btn-product btn-cart"><span>Add To Cart</span></a>
                                                </div><!-- End .product-action -->


                                                

                                                {% comment %} <div id='alrt' style="fontWeight = 'bold'"></div> {% endcomment %}


                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Mobiles</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="{% url 'product' x.id %}">{{ x.name }}</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <span class="out-price">Rs. {{ x.sell_price }}</span>
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 6 Reviews )</span>
                                                </div><!-- End .rating-container -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->
                                    {% endfor %}
                                </div><!-- End .row -->
                            </div><!-- End .products -->

                			<nav aria-label="Page navigation">
							    <ul class="pagination justify-content-center">
							        <li class="page-item disabled">
							            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
							        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
							        <li class="page-item"><a class="page-link" href="#">2</a></li>
							        <li class="page-item"><a class="page-link" href="#">3</a></li>
							        <li class="page-item-total">of 6</li>
							        <li class="page-item">
							            <a class="page-link page-link-next" href="#" aria-label="Next">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
							    </ul>
							</nav>
                		</div><!-- End .col-lg-9 -->
                		
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <script>
            setTimeout(function(){
                if($('#msg')).length > 0){
                    $('#msg')).remove();
                }
            },2000)
        </script>

        {% endblock %}
                                   