{% extends 'base.html' %}

{% load static %}

{% block title  %}
updateprofile
{% endblock title  %}

{% block body  %}

                  <main class="main">
                       <div class="updateprofile-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('{% static 'assets/images/backgrounds/login-bg.jpg' %}')">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <span class="nav-link active">updateprofile</span>
							    </li>
							</ul>
							<div class="tab-content active">
							    <div class="tab-pane active" id="signin-2" role="tabpanel">
							    	<form method="POST">
										{% csrf_token %}
							    		<div class="form-group">
							    			<label>Username *</label>
							    			<input type="text" class="form-control" name="username" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label>firstname *</label>
							    			<input type="text" class="form-control" name="firstname" required>
							    		</div><!-- End .form-group -->

										<div class="form-group">
							    			<label>lastname *</label>
							    			<input type="text" class="form-control" name="lastname" required>
							    		</div><!-- End .form-group -->

										<div class="form-group">
							    			<label>email *</label>
							    			<input type="text" class="form-control" name="email" required>
							    		</div><!-- End .form-group -->

										<button class="btn" type="submit">Login</button>
									</form>
									<div class="mt-2">
										Don't have an account?
										<a href="{% url 'register' %}" class="ml-2">Register</a>
									  </div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
            

        {% endblock body %}